*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    width: 400px;
    height: 400px;
    background-color: mediumseagreen;
}

@media (max-width:850px){
    .box{
        width: 300px;
        height: 300px;
        background-color: slateblue;
    }
}


@media (max-width:450px){
    .box{
        width: 150px;
        height: 150px;
        background-color: salmon;
    }
}